@import "react-resizable/css/styles.css";

:global(.react-calendar__navigation__label__labelText) {
  color: inherit !important;
  font-family: inherit !important;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.react-calendar {
  width: 100% !important;
  border: none !important;
  border-radius: 20px;
  margin-bottom: 20px;
  background-color: inherit !important;
  font: inherit !important;
}

.react-calendar__month-view__days__day {
  color: inherit !important;
}

.react-calendar__tile--now {
  background-color: silver !important;
  color: black !important;
  border-radius: 50px;
}

.react-calendar__tile:hover{
  background-color: silver !important;

}


.react-calendar__navigation__arrow {
  color: inherit;
}

.react-calendar__navigation__label__labelText {
  background-color: silver;
  border-radius: 20px;
  padding: 10px;
  font-size: large;
  color: black;
  font-weight: 500;
}

.react-calendar__navigation__label:hover{
  background-color: silver  !important;
}